<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/d77b7a8887.js" crossorigin="anonymous"></script>
    <title>footer</title>
</head>

<body>
    <footer class="footer">
        <div class="footer--content--logo">
            <img src="/img/logo-blanco.png" alt="logo">
        </div>
        <div class="footer--content--registrate">
            <p>Registrate para recibir ofertas, nuevo contenido y mucho mas </p>
            <form action="/">
                <input class="footer--content--registrate--input--texto" type="text" placeholder="Ingresa tu email">
                <input class="footer--content--registrate--input--submit" type="submit" value="Registrate">
            </form>
        </div>

        <div class="footer--nav">
            <a href="">
                <p>Sobre Nosotros <i class="fa-solid fa-chevron-down"></i></p>
            </a>
            <a href="">
                <p>No te lo pierdas <i class="fa-solid fa-chevron-down"></i></p>
            </a>
            <a href="">
                <p>Servicios <i class="fa-solid fa-chevron-down"></i></p>
            </a>
        </div>

        <div class="footer--seguinos">
            <p>Seguinos</p>
            <div class="footer--iconos--redes">
                <a href="https:/www.facebook.com"><i class="fa-brands fa-facebook"></i></a>
                <a href="https:/www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
                <a href="https:/www.twitter.com"><i class="fa-brands fa-twitter"></i></a>
            </div>
        </div>

        <div class="footer--medios-de-pago">
            <p>Medios de Pago</p>
            <div class="footer--iconos--pagos">
                <i class="fa-brands fa-cc-diners-club"></i>
                <i class="fa-brands fa-cc-mastercard"></i>
                <i class="fa-brands fa-cc-visa"></i>
                <img src="/img/mercado-libre-svgrepo-com.svg" alt="">
            </div>
        </div>

        <div class="footer--copy">
            <p><i class="fa-regular fa-copyright"></i> 2023 - Diseño Animal - Digital House - Argentina </p>
        </div>
    </footer>
</body>

</html>