<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head',{
  title : "Gatos" 
}) %>

<body class="index__body">

    
    <%- include('../partials/header') %>


  <main class="index__body__main">

    <div class="index__body__main--banner">

      <swiper-container class="mySwiper index-swiper-container" navigation="true" pagination="true" keyboard="true"
        mousewheel="true" css-mode="true">
        <swiper-slide class="index-swiper-slide">
          <img src="/images/banner1-home.png" alt="banner">
          <p class="index__body__main--banner--texto">Porque no solo es una mascota, es parte de tu familia.</p>
        </swiper-slide>
        <swiper-slide class="index-swiper-slide">
          <img src="/images/banner3-home.jpg" alt="banner">
          <p class="index__body__main--banner--texto index__body__main--banner--texto--festejo">Veni a festejar el cumple de tu mascota con nosotros</p>
        </swiper-slide>
        <swiper-slide class="index-swiper-slide">
          <img src="/images/banner4-home.jpg" alt="banner">
          <div class="index__body__main--banner--texto index__body__main--banner--texto--descuentos"> <p>20%, 30%, 40%</p>  <p>Los mejores descuentos en nuestra pagina</p></div> 
        </swiper-slide>
        <!-- <swiper-slide>Slide 4</swiper-slide>
        <swiper-slide>Slide 5</swiper-slide>
        <swiper-slide>Slide 6</swiper-slide>
        <swiper-slide>Slide 7</swiper-slide>
        <swiper-slide>Slide 8</swiper-slide>
        <swiper-slide>Slide 9</swiper-slide> -->
      </swiper-container>



      <!-- <img src="/img/banner1-home.png" alt="banner">
      <a href="#" class="index__body__main--banner--arrow"><i
          class="fa-solid fa-chevron-left index__fa-chevron-left"></i></a>
      <a href="#" class="index__body__main--banner--arrow"><i
          class="fa-solid fa-chevron-right index__fa-chevron-right"></i></a>
      <p class="index__body__main--banner--texto">Porque no solo es una mascota, es parte de tu familia.</p>
      <div class="index__body__main--banner--circulos">
        <a href="#"><i class="fa-solid fa-circle"></i></a>
        <a href="#"><i class="fa-solid fa-circle index__body__main--banner--circulos--medio"></i></a>
        <a href="#"><i class="fa-solid fa-circle"></i></a>
      </div> -->
    </div>
    <section class="index__body__main__section">

      <h2 class="index__body__main__section--titulo">Las Mejores Ofertas</h2>

      <div class="index__body__main__section--producto">

        <a href="/productos/detalle">
          <div class="index__body__main__section--producto--columna1">
            <img src="/images/NaturalChoice.png" alt="Natural choice">
          </div>
        </a>

        <div class="index__body__main__section--producto--columna2">
          <h3 class="index__body__main__section--producto--titulo">Lorem ipsum</h3>
          <p class="index__body__main__section--producto--descripcion">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Duis aliquam.</p>
        </div>

        <div class="index__body__main__section--producto--columna3">
          <p class="index__body__main__section--producto--precio">$1999.99</p>
          <a href="/Carrito" class="index__body__main__section--producto--agregar">
            <p>Agregar al Carrito</p>
            <i class="fa-solid fa-cart-plus"></i>
          </a>
        </div>

      </div>

      <div class="index__body__main__section--producto index__body__main__section--producto--reverse">

        <a href="/productos/detalle">
          <div
            class="index__body__main__section--producto--columna1 index__body__main__section--producto--columna1--reverse">
            <img src="/images/CanAmor.png" alt="Natural choice">
          </div>
        </a>

        <div
          class="index__body__main__section--producto--columna2 index__body__main__section--producto--columna2--reverse">
          <h3 class="index__body__main__section--producto--titulo">Lorem ipsum</h3>
          <p class="index__body__main__section--producto--descripcion">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Duis aliquam.</p>
        </div>

        <div class="index__body__main__section--producto--columna3">
          <p class="index__body__main__section--producto--precio">$899.99</p>
          <a href="/Carrito" class="index__body__main__section--producto--agregar">
            <p>Agregar al Carrito</p>
            <i class="fa-solid fa-cart-plus"></i>
          </a>
        </div>
      </div>

      <div class="index__body__main__section--producto">

        <a href="/productos/detalle">
          <div class="index__body__main__section--producto--columna1">
            <img src="/images/caniamo.png" alt="Natural choice" class="index__body__main__section--producto--caniamo">
          </div>
        </a>

        <div class="index__body__main__section--producto--columna2">
          <h3 class="index__body__main__section--producto--titulo">Lorem ipsum</h3>
          <p class="index__body__main__section--producto--descripcion">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Duis aliquam.</p>
        </div>

        <div class="index__body__main__section--producto--columna3">
          <p class="index__body__main__section--producto--precio">$1333.99</p>
          <a href="/Carrito" class="index__body__main__section--producto--agregar">
            <p>Agregar al Carrito</p>
            <i class="fa-solid fa-cart-plus"></i>
          </a>
        </div>
      </div>

      <div class="index__body__main__section--producto index__body__main__section--producto--reverse">

        <a href="/productos/detalle">
          <div
            class="index__body__main__section--producto--columna1 index__body__main__section--producto--columna1--reverse">
            <img src="/images/pedigree.png" alt="Natural choice" class="index__pedigree">
          </div>
        </a>

        <div
          class="index__body__main__section--producto--columna2 index__body__main__section--producto--columna2--reverse">
          <h3 class="index__body__main__section--producto--titulo">Lorem ipsum</h3>
          <p class="index__body__main__section--producto--descripcion">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Duis aliquam.</p>
        </div>

        <div class="index__body__main__section--producto--columna3">
          <p class="index__body__main__section--producto--precio">$2199.99</p>
          <a href="/Carrito" class="index__body__main__section--producto--agregar">
            <p>Agregar al Carrito</p>
            <i class="fa-solid fa-cart-plus"></i>
          </a>
        </div>
      </div>

      <div class="index__body__main__section--producto">

        <a href="/productos/detalle">
          <div class="index__body__main__section--producto--columna1">
            <img src="/images/Milk-Bone.png" alt="Natural choice">
          </div>
        </a>

        <div class="index__body__main__section--producto--columna2">
          <h3 class="index__body__main__section--producto--titulo">Lorem ipsum</h3>
          <p class="index__body__main__section--producto--descripcion">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Duis aliquam.</p>
        </div>

        <div class="index__body__main__section--producto--columna3">
          <p class="index__body__main__section--producto--precio">$3639.99</p>
          <a href="/Carrito" class="index__body__main__section--producto--agregar">
            <p>Agregar al Carrito</p>
            <i class="fa-solid fa-cart-plus"></i>
          </a>
        </div>
      </div>

    </section>

    <section class="index__body__main__section">

      <h2 class="index__body__main__section--titulo">Los Productos mas Buscados</h2>

      <div class="index__body__main__section--producto">

        <a href="/productos/detalle">
          <div class="index__body__main__section--producto--columna1">
            <img src="/images/NaturalChoice.png" alt="Natural choice">
          </div>
        </a>

        <div class="index__body__main__section--producto--columna2">
          <h3 class="index__body__main__section--producto--titulo">Lorem ipsum</h3>
          <p class="index__body__main__section--producto--descripcion">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Duis aliquam.</p>
        </div>

        <div class="index__body__main__section--producto--columna3">
          <p class="index__body__main__section--producto--precio">$1999.99</p>
          <a href="/Carrito" class="index__body__main__section--producto--agregar">
            <p>Agregar al Carrito</p>
            <i class="fa-solid fa-cart-plus"></i>
          </a>
        </div>
      </div>

      <div class="index__body__main__section--producto index__body__main__section--producto--reverse">

        <a href="/productos/detalle">
          <div
            class="index__body__main__section--producto--columna1 index__body__main__section--producto--columna1--reverse">
            <img src="/images/CanAmor.png" alt="Natural choice">
          </div>
        </a>

        <div
          class="index__body__main__section--producto--columna2 index__body__main__section--producto--columna2--reverse">
          <h3 class="index__body__main__section--producto--titulo">Lorem ipsum</h3>
          <p class="index__body__main__section--producto--descripcion">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Duis aliquam.</p>
        </div>

        <div class="index__body__main__section--producto--columna3">
          <p class="index__body__main__section--producto--precio">$899.99</p>
          <a href="/Carrito" class="index__body__main__section--producto--agregar">
            <p>Agregar al Carrito</p>
            <i class="fa-solid fa-cart-plus"></i>
          </a>
        </div>
      </div>

      <div class="index__body__main__section--producto">

        <a href="/productos/detalle">
          <div class="index__body__main__section--producto--columna1">
            <img src="/images/caniamo.png" alt="Natural choice" class="index__body__main__section--producto--caniamo">
          </div>
        </a>

        <div class="index__body__main__section--producto--columna2">
          <h3 class="index__body__main__section--producto--titulo">Lorem ipsum</h3>
          <p class="index__body__main__section--producto--descripcion">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Duis aliquam.</p>
        </div>

        <div class="index__body__main__section--producto--columna3">
          <p class="index__body__main__section--producto--precio">$1333.99</p>
          <a href="/Carrito" class="index__body__main__section--producto--agregar">
            <p>Agregar al Carrito</p>
            <i class="fa-solid fa-cart-plus"></i>
          </a>
        </div>
      </div>

      <div class="index__body__main__section--producto index__body__main__section--producto--reverse">

        <a href="/productos/detalle">
          <div
            class="index__body__main__section--producto--columna1 index__body__main__section--producto--columna1--reverse">
            <img src="/images/pedigree.png" alt="Natural choice" class="index__pedigree">
          </div>
        </a>

        <div
          class="index__body__main__section--producto--columna2 index__body__main__section--producto--columna2--reverse">
          <h3 class="index__body__main__section--producto--titulo">Lorem ipsum</h3>
          <p class="index__body__main__section--producto--descripcion">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Duis aliquam.</p>
        </div>

        <div class="index__body__main__section--producto--columna3">
          <p class="index__body__main__section--producto--precio">$2199.99</p>
          <a href="/Carrito" class="index__body__main__section--producto--agregar">
            <p>Agregar al Carrito</p>
            <i class="fa-solid fa-cart-plus"></i>
          </a>
        </div>
      </div>

      <div class="index__body__main__section--producto">

        <a href="/productos/detalle">
          <div class="index__body__main__section--producto--columna1">
            <img src="/images/Milk-Bone.png" alt="Natural choice">
          </div>
        </a>

        <div class="index__body__main__section--producto--columna2">
          <h3 class="index__body__main__section--producto--titulo">Lorem ipsum</h3>
          <p class="index__body__main__section--producto--descripcion">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Duis aliquam.</p>
        </div>

        <div class="index__body__main__section--producto--columna3">
          <p class="index__body__main__section--producto--precio">$3639.99</p>
          <a href="/Carrito" class="index__body__main__section--producto--agregar">
            <p>Agregar al Carrito</p>
            <i class="fa-solid fa-cart-plus"></i>
          </a>
        </div>
      </div>

      <div class="index__body__main__section--promo">
        <picture>
          <source srcset="images/banner2-home.png" media="(min-width: 1024px)">
          <img src="/images/banner2-mobile.png" alt="imagen principal">
        </picture>
        <div class="index__body__main__section--promo--texto">
          <p>2x1</p>
          <p>En baño y corte de pelo</p>
        </div>
      </div>

    </section>
  </main>

  <%- include('../partials/footer') %>


  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

  <script>
    var swiper = new Swiper(".mySwiper", {
      cssMode: true,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      pagination: {
        el: ".swiper-pagination",
      },
      mousewheel: true,
      keyboard: true,
    });
  </script>
</body>

</html>