<!DOCTYPE html>
<html lang="es">

<head>

  <%- include('../partials/head') %>
    <%- include('../partials/scritps') %>

</head>

<body class="dashboard-body">

  <header>
    <%- include('../partials/header-dashboard') %>
  </header>

  <main class="container">
  <section class="row my-2">
      <div class="col-10 col-md-9 mx-auto">
          <div class="card">
              <div class="card-header d-flex justify-content-between">
                  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin/dashboard" class="text-decoration-none text-black">Home Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Agregar Productos</li>
                      </ol>
                    </nav>
              </div>
              <div class="card-body">
                  <form action="" class="row d-flex justify-content-center align-items-center">
                    <div class=" mb-2">
                      <h3 class="text-center ">Editar Articulo</h3>
                    </div>
                      
                      <div class="col-12 col-md-4 mb-3">
                          <div class="form-floating ">
                              <input name="name" type="text" class="form-control" id="name" >
                              <label  for="name">Nombre del articulo</label>
                            </div>
                      </div>
                      <div class="col-8 col-md-3 mb-3">
                        <input name="mainImage" type="file" class="form-control" id="mainImage" hidden>
                        <label class="btn btn-lg btn-outline-dark w-80" for="mainImage">Imagen nº 1</label>
                    </div>
                    <div class="col-10 col-md-3 mb-3">
                      <input  name="images" type="file" class="form-control" id="images" hidden multiple>
                      <label class="btn btn-lg btn-outline-dark w-80" for="images">Imagen nº2</label>
                  </div>
                      <div class="col-12 col-md-4 mb-3">
                        <div class="form-floating">
                            <select name="category" class="form-select" id="category" aria-label="Floating label select example">
                              <option value="" selected hidden></option>
                              <option value="Perros">Perros</option>
                              <option value="Gatos">Gatos</option>
                              <option value="Animales Pequeños">Animales Pequeños</option>
                              <option value = "Los mas buscados"> Los mas Buscados</option>
                              <option value = "Ofertas"> Ofertas</option>
                            </select>
                            <label for="category">Categoría</label>
                          </div>
                      </div>
                      <div class="col-12 col-md-6 mb-3">
                        <div class="form-floating">
                          <input name="address" type="text" class="form-control" id="address">
                          <label for="address">ID del producto</label>
                        </div>
                      </div>
                     
                      
                      <div class="col-10 mb-3">
                          <div class="form-floating">
                              <textarea name="description" class="form-control" id="description" style="height: 100px;"></textarea>
                              <label for="description">Descripción del producto...</label>
                            </div>
                      </div>
                     
                      <div class="col-7 d-flex justify-content-end">
                          <button class="btn btn-lg bg-info">Guardar</button>
                      </div>
                  </form>

              </div>
          </div>
      </div>
  </section>
</main>
</body>
</div>

