<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/d77b7a8887.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/styles.css">

  <title>index</title>
</head>

<body class="index__body">
  <main class="index__body__main">
    <div class="index__body__main--banner">
      <img src="/img/banner1-home.png" alt="banner">
      <a href="" class="index__body__main--banner--arrow"><i
          class="fa-solid fa-chevron-left index__fa-chevron-left"></i></a>
      <a href="" class="index__body__main--banner--arrow"><i
          class="fa-solid fa-chevron-right index__fa-chevron-right"></i></a>
      <p class="index__body__main--banner--texto">Porque no solo es una mascota, es parte de tu familia.</p>
      <div class="index__body__main--banner--circulos">
        <a href=""><i class="fa-solid fa-circle"></i></a>
        <a href=""><i class="fa-solid fa-circle index__body__main--banner--circulos--medio"></i></a>
        <a href=""><i class="fa-solid fa-circle"></i></a>
      </div>
    </div>
    <section class="index__body__main__section">

      <h2 class="index__body__main__section--titulo">Las Mejores Ofertas</h2>

      <div class="index__body__main__section--producto">

        <div class="index__body__main__section--producto--columna1">
          <img src="/img/NaturalChoice.png" alt="Natural choice">
        </div>

        <div class="index__body__main__section--producto--columna2">
          <h3 class="index__body__main__section--producto--titulo">Lorem ipsum</h3>
          <p class="index__body__main__section--producto--descripcion">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Duis aliquam.</p>
        </div>

        <div class="index__body__main__section--producto--columna3">
          <p class="index__body__main__section--producto--precio">$1999.99</p>
          <a href="" class="index__body__main__section--producto--agregar">
            <p>Agregar al Carrito</p>
            <i class="fa-solid fa-cart-plus"></i>
          </a>
        </div>

      </div>

      <div class="index__body__main__section--producto index__body__main__section--producto--reverse">

        <div class="index__body__main__section--producto--columna1 index__body__main__section--producto--columna1--reverse">
          <img src="/img/CanAmor.png" alt="Natural choice">
        </div>

        <div class="index__body__main__section--producto--columna2 index__body__main__section--producto--columna2--reverse">
          <h3 class="index__body__main__section--producto--titulo">Lorem ipsum</h3>
          <p class="index__body__main__section--producto--descripcion">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Duis aliquam.</p>
        </div>

        <div class="index__body__main__section--producto--columna3">
          <p class="index__body__main__section--producto--precio">$899.99</p>
          <a href="" class="index__body__main__section--producto--agregar">
            <p>Agregar al Carrito</p>
            <i class="fa-solid fa-cart-plus"></i>
          </a>
        </div>
      </div>

      <div class="index__body__main__section--producto">

        <div class="index__body__main__section--producto--columna1">
          <img src="/img/Cañamo.png" alt="Natural choice" class="index__body__main__section--producto--caniamo">
        </div>

        <div class="index__body__main__section--producto--columna2">
          <h3 class="index__body__main__section--producto--titulo">Lorem ipsum</h3>
          <p class="index__body__main__section--producto--descripcion">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Duis aliquam.</p>
        </div>

        <div class="index__body__main__section--producto--columna3">
          <p class="index__body__main__section--producto--precio">$1333.99</p>
          <a href="" class="index__body__main__section--producto--agregar">
            <p>Agregar al Carrito</p>
            <i class="fa-solid fa-cart-plus"></i>
          </a>
        </div>
      </div>

      <div class="index__body__main__section--producto index__body__main__section--producto--reverse">

        <div class="index__body__main__section--producto--columna1 index__body__main__section--producto--columna1--reverse">
          <img src="/img/pedigree.png" alt="Natural choice" class="index__pedigree">
        </div>

        <div class="index__body__main__section--producto--columna2 index__body__main__section--producto--columna2--reverse">
          <h3 class="index__body__main__section--producto--titulo">Lorem ipsum</h3>
          <p class="index__body__main__section--producto--descripcion">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Duis aliquam.</p>
        </div>

        <div class="index__body__main__section--producto--columna3">
          <p class="index__body__main__section--producto--precio">$2199.99</p>
          <a href="" class="index__body__main__section--producto--agregar">
            <p>Agregar al Carrito</p>
            <i class="fa-solid fa-cart-plus"></i>
          </a>
        </div>
      </div>

      <div class="index__body__main__section--producto">

        <div class="index__body__main__section--producto--columna1">
          <img src="/img/Milk-Bone.png" alt="Natural choice">
        </div>

        <div class="index__body__main__section--producto--columna2">
          <h3 class="index__body__main__section--producto--titulo">Lorem ipsum</h3>
          <p class="index__body__main__section--producto--descripcion">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Duis aliquam.</p>
        </div>

        <div class="index__body__main__section--producto--columna3">
          <p class="index__body__main__section--producto--precio">$3639.99</p>
          <a href="" class="index__body__main__section--producto--agregar">
            <p>Agregar al Carrito</p>
            <i class="fa-solid fa-cart-plus"></i>
          </a>
        </div>
      </div>

    </section>

    <section class="index__body__main__section">

      <h2 class="index__body__main__section--titulo">Los Productos mas Buscados</h2>

      <div class="index__body__main__section--producto">

        <div class="index__body__main__section--producto--columna1">
          <img src="/img/NaturalChoice.png" alt="Natural choice">
        </div>

        <div class="index__body__main__section--producto--columna2">
          <h3 class="index__body__main__section--producto--titulo">Lorem ipsum</h3>
          <p class="index__body__main__section--producto--descripcion">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Duis aliquam.</p>
        </div>

        <div class="index__body__main__section--producto--columna3">
          <p class="index__body__main__section--producto--precio">$1999.99</p>
          <a href="" class="index__body__main__section--producto--agregar">
            <p>Agregar al Carrito</p>
            <i class="fa-solid fa-cart-plus"></i>
          </a>
        </div>
      </div>

      <div class="index__body__main__section--producto index__body__main__section--producto--reverse">

        <div class="index__body__main__section--producto--columna1 index__body__main__section--producto--columna1--reverse">
          <img src="/img/CanAmor.png" alt="Natural choice">
        </div>

        <div class="index__body__main__section--producto--columna2 index__body__main__section--producto--columna2--reverse">
          <h3 class="index__body__main__section--producto--titulo">Lorem ipsum</h3>
          <p class="index__body__main__section--producto--descripcion">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Duis aliquam.</p>
        </div>

        <div class="index__body__main__section--producto--columna3">
          <p class="index__body__main__section--producto--precio">$899.99</p>
          <a href="" class="index__body__main__section--producto--agregar">
            <p>Agregar al Carrito</p>
            <i class="fa-solid fa-cart-plus"></i>
          </a>
        </div>
      </div>

      <div class="index__body__main__section--producto">

        <div class="index__body__main__section--producto--columna1">
          <img src="/img/Cañamo.png" alt="Natural choice" class="index__body__main__section--producto--caniamo">
        </div>

        <div class="index__body__main__section--producto--columna2">
          <h3 class="index__body__main__section--producto--titulo">Lorem ipsum</h3>
          <p class="index__body__main__section--producto--descripcion">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Duis aliquam.</p>
        </div>

        <div class="index__body__main__section--producto--columna3">
          <p class="index__body__main__section--producto--precio">$1333.99</p>
          <a href="" class="index__body__main__section--producto--agregar">
            <p>Agregar al Carrito</p>
            <i class="fa-solid fa-cart-plus"></i>
          </a>
        </div>
      </div>

      <div class="index__body__main__section--producto index__body__main__section--producto--reverse">

        <div class="index__body__main__section--producto--columna1 index__body__main__section--producto--columna1--reverse">
          <img src="/img/pedigree.png" alt="Natural choice">
        </div>

        <div class="index__body__main__section--producto--columna2 index__body__main__section--producto--columna2--reverse">
          <h3 class="index__body__main__section--producto--titulo">Lorem ipsum</h3>
          <p class="index__body__main__section--producto--descripcion">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Duis aliquam.</p>
        </div>

        <div class="index__body__main__section--producto--columna3">
          <p class="index__body__main__section--producto--precio">$2199.99</p>
          <a href="" class="index__body__main__section--producto--agregar">
            <p>Agregar al Carrito</p>
            <i class="fa-solid fa-cart-plus"></i>
          </a>
        </div>
      </div>

      <div class="index__body__main__section--producto">

        <div class="index__body__main__section--producto--columna1">
          <img src="/img/Milk-Bone.png" alt="Natural choice">
        </div>

        <div class="index__body__main__section--producto--columna2">
          <h3 class="index__body__main__section--producto--titulo">Lorem ipsum</h3>
          <p class="index__body__main__section--producto--descripcion">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Duis aliquam.</p>
        </div>

        <div class="index__body__main__section--producto--columna3">
          <p class="index__body__main__section--producto--precio">$3639.99</p>
          <a href="" class="index__body__main__section--producto--agregar">
            <p>Agregar al Carrito</p>
            <i class="fa-solid fa-cart-plus"></i>
          </a>
        </div>
      </div>

      <div class="index__body__main__section--promo">
        <img src="/img/banner2-mobile.png" alt="">
        <div class="index__body__main__section--promo--texto">
          <p>2x1</p>
          <p>En baño y corte de pelo</p>
        </div>
      </div>

    </section>
  </main>
</body>

</html>