.dashboard-body {
    background-image: url('/images/background-dashboard.jpg');
    background-size: 100vw;
    background-position: center 20vh;
    background-color: #d6d6d6;
}

.texto-delete {
    padding-left: 27%;
    color: red;
    line-height: 32px;
}

@media (min-width : 1024px) {

    .dashboard-body {
        background-position: center 5vh;
    }
}