.dashboard-body {
    background-image: url('/images/background-dashboard.jpg');
    background-size: 100vw;
    background-position: center 20vh;
    background-color: #d6d6d6;
}

@media (min-width : 1024px) {

    .dashboard-body {
        background-position: center 5vh;
    }
}