.dashboard-body {
    background-image: url('/images/background-dashboard.jpg');
    background-size: 100vw;
    background-position: center 20vh;
    background-color: #d6d6d6;
}

.dashboard_group_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.carDashboar {
    width: 300px;
}

.texto-delete {
    padding-left: 27%;
    color: red;
    line-height: 32px;
    margin-top: -20px;
    font-size: 14px;
}

.dashboard-body tr {
    border-color: 5px solid red  !;
    background-color: aqua  !;
    border-radius: 20px  !;
    padding: 30px  !;
    margin: 30px  !;
}

@media (min-width : 768px) {
    .texto-delete {        
    margin-top: 0px;
    font-size: 20px;
    padding-right: 20px;
    }
}

@media (min-width : 1024px) {

    .dashboard-body {
        background-position: center 5vh;
    }
}