.perfil_body {
    background-color: var(--ColorGris);
}

.perfil_titulo {
    background-color: var(--ColorAzul);
    width: fit-content;
    border-radius: 0 20px 20px 0;
    padding: 0 25px;
    margin: 10px 0;
    border-left: none;
    color: white
}

.Perfil_imagen_y_titulo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 15px;
    margin-top: 5px;
}

.perfil_imagen_content {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 1px solid white;
    padding: 3px;
    background-color: var(--ColorAzul);
}

.perfil_imagen {
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
}

.perfil_main h2 {
    color: whitesmoke;
    font-size: 20px;
    padding: 5px 0;
    margin: 0 1px;
    text-wrap: nowrap;
}

.perfil_main {
    background-position: center;
    background-image: url(/images/background-login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10px;
    max-width: 800px;
    margin: 30px auto;
    border-radius: 5px;
}

.perfil_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    color: var(--ColorAzul);
    padding-bottom: 7%;
    margin-top: 20px;
}

.perfil__form__div {
    display: flex;
    flex-direction: column;
}

.perfil_form_div_label {
    font-size: 14px;
    background-color: var(--ColorAzul);
    width: 150px;
    padding: 2px 2px 4px;
    margin-left: 25px;
    margin-bottom: -9px;
    text-align: center;
    border-radius: 5px 5px 0 0;
}

.perfil_form_input_select {
    padding: 1%;
    margin: 3%;
    width: 250px;
    border: 2px solid var(--ColorAzul);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-left: 20px;
}

.perfil_alert {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 191px;
    color: red;
    background-color: rgb(255 255 255 / 50%);
    border-radius: 3px;
    margin-left: 25px;
    text-align: start;
}

.perfil_main input::placeholder {
    color: var(--ColorAzul);
    text-align: center;
    font-weight: bold;
}

.perfil_form_button {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    margin-top: 30px;
}

.perfil__form__button {
    width: 180px;
    height: 35px;
    padding: 8px;
    background-color: var(--ColorAzul);
    border-radius: 20px;
    color: whitesmoke;
    font-weight: bold;
    border-color: var(--ColorAzul);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-right: 10px;
    text-align: center;
    font-size: 16px;
}

.perfil_form button {
    width: 150px;
    height: 35px;
    padding: 1%;
    background-color: var(--ColorAzul);
    border-radius: 20px;
    color: whitesmoke;
    font-weight: bold;
    border-color: var(--ColorAzul);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-right: 10px;
}

.perfil_form button:hover {
    transform: scale(1.1);
    box-shadow: 13px 15px 37px black;
}

@media (min-width: 480px) {
    .perfil_main {
        box-shadow: 6px 8px 20px -6px rgba(0, 0, 0, 0.8);
        -webkit-box-shadow: 6px 8px 20px -6px rgba(0, 0, 0, 0.8);
        -moz-box-shadow: 6px 8px 20px -6px rgba(0, 0, 0, 0.8);
    }

    .perfil__form__div {
        display: flex;
        flex-direction: row;
    }
}