<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>

<div class="contenedor_videos">
    <div class="container_video1">
      <video class="productos-videos" width="220" height="240" autoplay loop controls muted>
        <source src="/images/videos/80690424_2896596637040297_4342256878793785344_n.mp4" type="video/mp4">
      </video>
    </div>
    <div class="container_video2">
      <video class="productos-videos" width="220" height="240" autoplay loop controls muted>
        <source src="/images/videos/275890211_679199206860755_4529459640801485028_n.mp4" type="video/mp4">
      </video>
      <div class="container_video3">
        <video class="productos-videos" width="220" height="240" autoplay loop controls muted>
          <source src="/images/videos/406252814_1394877621405820_801436885027233605_n.mp4" type="video/mp4">
        </video>
      </div>
    </div>
  </div>
   <div class="container_video1">
     <video class="productos-videos" width="220" height="240" autoplay loop controls muted>
<source src="/images/videos/80690424_2896596637040297_4342256878793785344_n.mp4" type="video/mp4">
     </video>
   </div>
   <div class="container_video2">
     <video class="productos-videos" width="220" height="240" autoplay loop controls muted>
<source src="/images/videos/275890211_679199206860755_4529459640801485028_n.mp4" type="video/mp4">
     </video>
     <div class="container_video3">
<video class="productos-videos" width="220" height="240" autoplay loop controls muted>
  <source src="/images/videos/406252814_1394877621405820_801436885027233605_n.mp4" type="video/mp4">
</video>
</div>
</div>

<!-- Banner al costado igual que los videos anteriores -->
<div class="contenedor_videos">
    <div class="container_video1">
 <img src="/images/Banner-Nuevos-productos-T_v2-768x628.jpg.webp" alt="" width="240" height="auto">
 </div>
     <div class="container_video2">
 <img src="/images/Local-CanCat.jpg" alt="" width="240" height="auto">
 </video>
      <div class="container_video3">
      <img src="/images/banner-detalle.png" alt="" width="240" height="auto">
 
 </div>
 </div>
 </div>