<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/6e64724991.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">

    <title>header</title>
</head>

<body class="header">
    <header>

        <div class="header__img" >
            <a href="/"><img src="/images/logo-header.png" alt="imagen de la marca"></a>
        </div>

        <div class="header__div__register--login">
            <i class="fa-solid fa-user-plus"></i>
            <a class="header__div__register" href="/usuarios/registro">Regístrate</a>
            <a class="header__div__login" href="/usuarios/ingreso">Iniciar Sesion</a>
        </div>

        <div class="header__div__menu-hambuerguesa">
            <i class="fas fa-bars"></i>
        </div>

        <form class="header__form__barra-de-busqueda">
            <input type="text" placeholder="Busca tus marcas y productos favoritos">
            <button class="header__form__button"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>

        <div class="header__div__carrito-de-compras">
            <div class="header__div__carrito-de-compras-icono">
                <a href="/carrito"><i class="fa-solid fa-cart-plus"></i></a>
                <div class="header__div__carrito-de-compras-numero">
                    <p>4</p>
                </div>
            </div>
            <div class="header__div__carrito-de-compras-texto">
              <a href="/carrito"><p>Tu compra</p></a>
            <!-- numero que va sobre el carrito -->
            </div>
            
        </div>

        <div class="nav">
           <ul class="header__div__lista">
                <li>
                    <a href="./productos/perros">Perros</a>
                    <ul>
                        <li><a href="">Alimento</a></li>
                        <li><a href="">Accesorios</a></li>
                        <li><a href="">Cuidado</a></li>
                        <li><a href="">Corte de pelo y baño</a></li>
                    </ul>
                </li>

                <li>
                    <a href="../productos/gatos">Gatos</a>
                     <ul>
                        <li><a href="">Alimento</a></li>
                        <li><a href="">Accesorios</a></li>
                        <li><a href="">Cuidado</a></li>
                        <li><a href="">Baño</a></li>
                    </ul>
                </li>

                <li>
                    <a href="../productos/pequenios">Animales pequeños</a>
                    <ul>
                        <li><a href="">Aves</a></li>
                        <li><a href="">Peses</a></li>
                        <li><a href="">Roedores</a></li>
                    </ul>

                </li>

                <li><a href="">Lo + vendido</a></li>

                <li><a href="">Ofertas</a></li>
            </ul>

        </div>
    
    </header>
</body>

</html>