<header style="padding: 0;">
    <nav style="background-color: #0E7278 !important; height: 100vh; width: 240px;">
        <ul class="nav-ul">

            <li class="nav-item_li">
                <a href="">
                    <div style="width: 190px; margin-left: 10px;"
                        class="d-flex flex-row align-items-center justify-content-between gap-3 text-nav">
                        <div class="d-flex flex-row gap-3 align-items-center">
                            <i class="fa-solid fa-ruler-combined"></i>
                            <span style="color: white;" class="nav-link active" aria-current="page"
                                href="/admin/dashboard">Metricas</span>
                        </div>
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </a>
            </li>

            <li class="nav-item_li">
                <a href="">
                    <div style="width: 190px; margin-left: 10px;"
                        class="d-flex flex-row align-items-center justify-content-between gap-3 text-nav">
                        <div class="d-flex flex-row gap-3 align-items-center">
                            <i class="fa-solid fa-box-open"></i>
                            <span style="color: white;" class="nav-link active" aria-current="page"
                                href="/admin/dashboard">Ultimo Producto</span>
                        </div>
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </a>
            </li>

            <li class="nav-item_li">
                <a href="">
                    <div style="width: 190px; margin-left: 10px;"
                        class="d-flex flex-row align-items-center justify-content-between gap-3 text-nav">
                        <div class="d-flex flex-row gap-3 align-items-center">
                            <i class="fa-solid fa-table-list"></i>
                            <span style="color: white;" class="nav-link active" aria-current="page"
                                href="/admin/dashboard">Lista de Productos</span>
                        </div>
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </a>
            </li>

            <li class="nav-item_li">
                <a href="">
                    <div style="width: 190px; margin-left: 10px;"
                        class="d-flex flex-row align-items-center justify-content-between gap-3 text-nav">
                        <div class="d-flex flex-row gap-3 align-items-center">
                            <i class="fa-solid fa-dolly"></i>
                            <span style="color: white;" class="nav-link active" aria-current="page"
                                href="/admin/dashboard">ultimos 5 Vendidos</span>
                        </div>
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </a>
            </li>

            <li class="nav-item_li">
                <a href="">
                    <div style="width: 190px; margin-left: 10px;"
                        class="d-flex flex-row align-items-center justify-content-between gap-3 text-nav">
                        <div class="d-flex flex-row gap-3 align-items-center">
                            <i class="fa-solid fa-list-ul"></i>
                            <span style="color: white;" class="nav-link active" aria-current="page"
                                href="/admin/dashboard">Categorias</span>
                        </div>
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </a>
            </li>

            <li class="nav-item_li">
                <a href="">
                    <div style="width: 190px; margin-left: 10px;"
                        class="d-flex flex-row align-items-center justify-content-between gap-3 text-nav">
                        <div class="d-flex flex-row gap-3 align-items-center">
                            <i class="fa-solid fa-square-plus"></i>
                            <span style="color: white;" class="nav-link active" aria-current="page"
                                href="/admin/dashboard">Agregar Producto</span>
                        </div>
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </a>
            </li>

            <li class="nav-item_li">
                <a href="">
                    <div style="width: 190px; margin-left: 10px;"
                        class="d-flex flex-row align-items-center justify-content-between gap-3 text-nav">
                        <div class="d-flex flex-row gap-3 align-items-center">
                            <i class="fa-solid fa-square-pen"></i>
                            <span style="color: white;" class="nav-link active" aria-current="page"
                                href="/admin/dashboard">Editar Producto</span>
                        </div>
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </a>
            </li>

            <li class="nav-item_li">
                <a href="">
                    <div style="width: 190px; margin-left: 10px;"
                        class="d-flex flex-row align-items-center justify-content-between gap-3 text-nav">
                        <div class="d-flex flex-row gap-3 align-items-center">
                            <i class="fa-solid fa-square-minus"></i>
                            <span style="color: white;" class="nav-link active" aria-current="page"
                                href="/admin/dashboard">Eliminar Producto</span>
                        </div>
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </a>
            </li>
            <!-- <li class="nav-item">
                        <a style="color: white;" class="nav-link" href="/productos/agregar-articulos">Nuevo Producto</a>                        
                    </li> -->
            <!-- <li class="nav-item">
                        <a style="color: white;" class="nav-link" href="/usuarios/dashboardUsuarios">Usuarios</a>                     
                    </li> -->
        </ul>
    </nav>
</header>