<h2 class="index__body__main__section--titulo">Las Mejores Ofertas</h2>

      <div class="index__body__main__section--producto">

        <a href="./productos/detalle">
          <div class="index__body__main__section--producto--columna1">
            <img src="/images/NaturalChoice.png" alt="Natural choice">
          </div>
        </a>

        <div class="index__body__main__section--producto--columna2">
          <h3 class="index__body__main__section--producto--titulo">Lorem ipsum</h3>
          <p class="index__body__main__section--producto--descripcion">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Duis aliquam.</p>
        </div>

        <div class="index__body__main__section--producto--columna3">
          <p class="index__body__main__section--producto--precio">$1999.99</p>
          <a href="/carrito" class="index__body__main__section--producto--agregar">
            <p>Agregar al Carrito</p>
            <i class="fa-solid fa-cart-plus"></i>
          </a>
        </div>

      </div>

      <div class="index__body__main__section--producto index__body__main__section--producto--reverse">

        <a href="./productos/detalle">
          <div
            class="index__body__main__section--producto--columna1 index__body__main__section--producto--columna1--reverse">
            <img src="/images/CanAmor.png" alt="Natural choice">
          </div>
        </a>

        <div
          class="index__body__main__section--producto--columna2 index__body__main__section--producto--columna2--reverse">
          <h3 class="index__body__main__section--producto--titulo">Lorem ipsum</h3>
          <p class="index__body__main__section--producto--descripcion">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Duis aliquam.</p>
        </div>

        <div class="index__body__main__section--producto--columna3">
          <p class="index__body__main__section--producto--precio">$899.99</p>
          <a href="/carrito" class="index__body__main__section--producto--agregar">
            <p>Agregar al Carrito</p>
            <i class="fa-solid fa-cart-plus"></i>
          </a>
        </div>
      </div>

      <div class="index__body__main__section--producto">

        <a href="/productos/detalle">
          <div class="index__body__main__section--producto--columna1">
            <img src="/images/caniamo.png" alt="Natural choice" class="index__body__main__section--producto--caniamo">
          </div>
        </a>

        <div class="index__body__main__section--producto--columna2">
          <h3 class="index__body__main__section--producto--titulo">Lorem ipsum</h3>
          <p class="index__body__main__section--producto--descripcion">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Duis aliquam.</p>
        </div>

        <div class="index__body__main__section--producto--columna3">
          <p class="index__body__main__section--producto--precio">$1333.99</p>
          <a href="/carrito" class="index__body__main__section--producto--agregar">
            <p>Agregar al Carrito</p>
            <i class="fa-solid fa-cart-plus"></i>
          </a>
        </div>
      </div>

      <div class="index__body__main__section--producto index__body__main__section--producto--reverse">

        <a href="./productos/detalle">
          <div
            class="index__body__main__section--producto--columna1 index__body__main__section--producto--columna1--reverse">
            <img src="/images/pedigree.png" alt="Natural choice" class="index__pedigree">
          </div>
        </a>

        <div
          class="index__body__main__section--producto--columna2 index__body__main__section--producto--columna2--reverse">
          <h3 class="index__body__main__section--producto--titulo">Lorem ipsum</h3>
          <p class="index__body__main__section--producto--descripcion">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Duis aliquam.</p>
        </div>

        <div class="index__body__main__section--producto--columna3">
          <p class="index__body__main__section--producto--precio">$2199.99</p>
          <a href="/carrito" class="index__body__main__section--producto--agregar">
            <p>Agregar al Carrito</p>
            <i class="fa-solid fa-cart-plus"></i>
          </a>
        </div>
      </div>

      <div class="index__body__main__section--producto">

        <a href="./productos/detalle">
          <div class="index__body__main__section--producto--columna1">
            <img src="/images/Milk-Bone.png" alt="Natural choice">
          </div>
        </a>

        <div class="index__body__main__section--producto--columna2">
          <h3 class="index__body__main__section--producto--titulo">Lorem ipsum</h3>
          <p class="index__body__main__section--producto--descripcion">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Duis aliquam.</p>
        </div>

        <div class="index__body__main__section--producto--columna3">
          <p class="index__body__main__section--producto--precio">$3639.99</p>
          <a href="/productCard.ejs" class="index__body__main__section--producto--agregar">
            <p>Agregar al Carrito</p>
            <i class="fa-solid fa-cart-plus"></i>
          </a>
        </div>
      </div>

    </section>

    <section class="index__body__main__section">

      <h2 class="index__body__main__section--titulo">Los Productos mas Buscados</h2>

      <div class="index__body__main__section--producto">

        <a href="./productos/detalle">
          <div class="index__body__main__section--producto--columna1">
            <img src="/images/NaturalChoice.png" alt="Natural choice">
          </div>
        </a>

        <div class="index__body__main__section--producto--columna2">
          <h3 class="index__body__main__section--producto--titulo">Lorem ipsum</h3>
          <p class="index__body__main__section--producto--descripcion">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Duis aliquam.</p>
        </div>

        <div class="index__body__main__section--producto--columna3">
          <p class="index__body__main__section--producto--precio">$1999.99</p>
          <a href="/carrito" class="index__body__main__section--producto--agregar">
            <p>Agregar al Carrito</p>
            <i class="fa-solid fa-cart-plus"></i>
          </a>
        </div>
      </div>

      <div class="index__body__main__section--producto index__body__main__section--producto--reverse">

        <a href="./productos/detalle">
          <div
            class="index__body__main__section--producto--columna1 index__body__main__section--producto--columna1--reverse">
            <img src="/images/CanAmor.png" alt="Natural choice">
          </div>
        </a>

        <div
          class="index__body__main__section--producto--columna2 index__body__main__section--producto--columna2--reverse">
          <h3 class="index__body__main__section--producto--titulo">Lorem ipsum</h3>
          <p class="index__body__main__section--producto--descripcion">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Duis aliquam.</p>
        </div>

        <div class="index__body__main__section--producto--columna3">
          <p class="index__body__main__section--producto--precio">$899.99</p>
          <a href="/carrito" class="index__body__main__section--producto--agregar">
            <p>Agregar al Carrito</p>
            <i class="fa-solid fa-cart-plus"></i>
          </a>
        </div>
      </div>

      <div class="index__body__main__section--producto">

        <a href="./productos/detalle">
          <div class="index__body__main__section--producto--columna1">
            <img src="/images/caniamo.png" alt="Natural choice" class="index__body__main__section--producto--caniamo">
          </div>
        </a>

        <div class="index__body__main__section--producto--columna2">
          <h3 class="index__body__main__section--producto--titulo">Lorem ipsum</h3>
          <p class="index__body__main__section--producto--descripcion">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Duis aliquam.</p>
        </div>

        <div class="index__body__main__section--producto--columna3">
          <p class="index__body__main__section--producto--precio">$1333.99</p>
          <a href="/carrito" class="index__body__main__section--producto--agregar">
            <p>Agregar al Carrito</p>
            <i class="fa-solid fa-cart-plus"></i>
          </a>
        </div>
      </div>

      <div class="index__body__main__section--producto index__body__main__section--producto--reverse">

        <a href="./productos/detalle">
          <div
            class="index__body__main__section--producto--columna1 index__body__main__section--producto--columna1--reverse">
            <img src="/images/pedigree.png" alt="Natural choice" class="index__pedigree">
          </div>
        </a>

        <div
          class="index__body__main__section--producto--columna2 index__body__main__section--producto--columna2--reverse">
          <h3 class="index__body__main__section--producto--titulo">Lorem ipsum</h3>
          <p class="index__body__main__section--producto--descripcion">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Duis aliquam.</p>
        </div>

        <div class="index__body__main__section--producto--columna3">
          <p class="index__body__main__section--producto--precio">$2199.99</p>
          <a href="/carrito" class="index__body__main__section--producto--agregar">
            <p>Agregar al Carrito</p>
            <i class="fa-solid fa-cart-plus"></i>
          </a>
        </div>
      </div>

      <div class="index__body__main__section--producto">

        <a href="./productos/detalle">
          <div class="index__body__main__section--producto--columna1">
            <img src="/images/Milk-Bone.png" alt="Natural choice">
          </div>
        </a>

        <div class="index__body__main__section--producto--columna2">
          <h3 class="index__body__main__section--producto--titulo">Lorem ipsum</h3>
          <p class="index__body__main__section--producto--descripcion">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Duis aliquam.</p>
        </div>

        <div class="index__body__main__section--producto--columna3">
          <p class="index__body__main__section--producto--precio">$3639.99</p>
          <a href="/carrito" class="index__body__main__section--producto--agregar">
            <p>Agregar al Carrito</p>
            <i class="fa-solid fa-cart-plus"></i>
          </a>
        </div>
      </div>

      <div class="index__body__main__section--promo">
        <picture>
          <source srcset="images/banner2-home.png" media="(min-width: 1024px)">
          <img src="/images/banner2-mobile.png" alt="imagen principal">
        </picture>
        <div class="index__body__main__section--promo--texto">
          <p>2x1</p>
          <p>En baño y corte de pelo</p>
        </div>
      </div>

    </section>