 <!DOCTYPE html>
<html lang="en">
    
    <%- include('../partials/head',{
    title : "Perfil" 
    }) %>
    <body>
        <form action="">
            <h1>Este es un texto de prueba</h1>
        </form>
        <%- include('../partials/footer') %>
    </body>
</html>