<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs' ,{ title : "Register" }) %>
    <link rel="icon" type="image/x-icon" href="/images/favicon-register.png">
    <title>Cancat - Registro</title>

    <body class="reserva_body">

        <%- include('../partials/header.ejs', {usuario}) %>

            <main class="reserva_main">
                <h1 class="reserva_titulo" >Reserva Registrada</h1>
            </main>

            <%- include('../partials/footer.ejs') %>

    </body>

</html>